###### Requirements with Version Specifiers ######

###### Requirements without Version Specifiers ######
numpy
pandas
openpyxl
lxml
kor
langchain
bs4
markdownify
snowflake
scikit-learn
flatten_json

