###### Requirements with Version Specifiers ######
numpy > 2.0
cffi > 1.10.1
pyarrow < 19.0.0

###### Requirements without Version Specifiers ######
pandas
openpyxl
lxml
kor
langchain
bs4
markdownify
snowflake
scikit-learn
flatten_json
requests
snowflake-snowpark-python
snowflake-connector-python
pandas
boto3
matplotlib
openpyxl

