###### Requirements with Version Specifiers ######
numpy>2.0

###### Requirements without Version Specifiers ######
pandas
openpyxl
lxml
kor
langchain
bs4
markdownify
snowflake
scikit-learn
flatten_json
requests

